.App {
  text-align: center;
  min-height: 100vh;
  background-color: lightgrey;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

p {
  text-align: left;
}

.knight {
  width: 100%;
  margin-bottom: 1rem;
  margin-left: 3rem;
  text-align: left;
}

.body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.name {
  font-weight: bold;
}

.footie {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  color: white;
}

.footie a {
  color: #61dafb;
}

.button {
  position: absolute;
  right: 1rem;
  margin-top: 1rem;
  padding: 1rem;
  background-color: white;
  border-radius: 1rem;
  cursor: pointer;
}

.button:hover {
  background-color: antiquewhite;
}
